body{
    margin: 0px;
    padding: 0px;
}
#home-page{
    background-image: url(images\ \(1\)/hero-bg.png);
}
.margin-header{
    margin-top: 150px;
    font-size: 30px;
}
.btn-left{
    margin-left: 570px;
    padding: 5px 30px 5px 30px;
}
.bannerimg{
    margin-left: 370px;
}
.btn-color{
    background-color: blue;
}
.col-padding{
    padding: 80px;
}
.bg-color{
    background-color: blue;
}
.mic-img{
    font-size: 45px ;
    border: 1px dotted white;
    padding: 45px 30px 45px 30px ;
    border-radius:50% ;
}
.service-img{
 font-size: 50px;
}
#client-msg{
    background-image: url(images\ \(1\)/testimonial_bg.jpg);
    height: 350px;
}
.test-img{
    margin-left: 730px;
}
.form-control{
    width: 530px;
}
.contact-left{
    margin-left: 280px;
}
.address-column{
    margin-top: 130px;
}
.last-para{
    font-size: 15px;
}
.uparrow{
    height: 30px;
    margin: 0px 0px 0px 380px;
}
a{
    text-decoration-line: none;
    color: white;
}