body{
    margin: 0px;
    padding: 0px;
}
#home{
    background-image: url(images\ \(1\)/hero-bg.png);
}
.header{
    font-size: 30px;
    padding-top:100px ;
}
.btn-color{
    background-color: blue;
}
.col-padding{
    padding: 80px;
}
.bg-color{
    background-color: blue;
}
.mic-img{
    font-size: 45px ;
    border: 1px dotted white;
    padding: 45px 30px 45px 30px ;
    border-radius:50% ;
}
.service-img{
 font-size: 50px;
}
#client-msg{
    background-image: url(images\ \(1\)/testimonial_bg.jpg);
    height: 350px;
}
.test-img{
    margin-left: 730px;
}
.last-para{
    font-size: 15px;
}
.uparrow{
    height: 30px;
}
a{
    text-decoration-line: none;
    color: white;
}
