body{
    margin: 0px;
    padding: 0px;
}
#home-page{
    background-image: url(images\ \(1\)/hero-bg.png);
    height: 60=30px;
}
.margin-header{
    margin-top: 150px;
    font-size: 30px;
}
.btn-left{
    margin-left: 570px;
    padding: 5px 30px 5px 30px;
}
.bannerimg{
    margin-left: 370px;
}
.btn-color{
    background-color: blue;
}
.col-padding{
    padding: 80px;
}
.bg-color{
    background-color: blue;
}
.mic-img{
    font-size: 45px ;
    border: 1px dotted white;
    padding: 40px 30px 40px 30px ;
    margin-left: 25px;
    /* margin-top: 70px; */
    border-radius:50% ;
}